/* eslint-disable */
.comp2v-container {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  flex-direction: column;
  justify-content: flex-start;
}
.comp2v-header {
  width: 100%;
  height: 53px;
  max-width: 1007px;
  min-width: 20px;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}
.comp2v-container1 {
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 1055px;
  box-sizing: border-box;
  flex-basis: 0;
  align-items: center;
  padding-top: 5px;
  flex-direction: row;
  padding-bottom: 5px;
  justify-content: space-between;
}
.comp2v-container2 {
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 319px;
  box-sizing: border-box;
  flex-basis: 0;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  flex-direction: column;
  justify-content: space-between;
}
.comp2v-image {
  width: 100%;
  height: 287px;
  max-width: 287px;
  min-width: 20px;
  max-height: 100%;
  margin-left: 15px;
  margin-right: 15px;
}
.comp2v-paragraph {
  width: 100%;
  height: 94px;
  max-width: 285px;
  min-width: 20px;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}
.comp2v-button {
  width: 100%;
  height: 53px;
  max-width: 282px;
  min-width: 20px;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}
.comp2v-container3 {
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 313px;
  box-sizing: border-box;
  flex-basis: 0;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  flex-direction: column;
  justify-content: space-between;
}
.comp2v-image1 {
  width: 100%;
  height: 283px;
  max-width: 309px;
  min-width: 20px;
  max-height: 100%;
  margin-left: 15px;
  margin-right: 15px;
}
.comp2v-paragraph1 {
  width: 100%;
  border: 1px dashed rgb(187, 187, 187);
  height: 98px;
  overflow: hidden;
  font-size: 0.8em;
  max-width: 305px;
  min-width: 20px;
  margin-top: 15px;
  align-items: left;
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 3px;
  border-radius: 5px;
  margin-bottom: 15px;
  background-color: #FFFFFF00;
  -webkit-user-drag: none;
}
.comp2v-button1 {
  width: 100%;
  height: 58px;
  max-width: 312px;
  min-width: 20px;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}
.comp2v-container4 {
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 305px;
  box-sizing: border-box;
  flex-basis: 0;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  flex-direction: column;
  justify-content: space-between;
}
.comp2v-image2 {
  width: 100%;
  height: 285px;
  max-width: 302px;
  min-width: 20px;
  max-height: 100%;
  margin-left: 15px;
  margin-right: 15px;
}
.comp2v-paragraph2 {
  width: 100%;
  height: 104px;
  max-width: 295px;
  min-width: 20px;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}
.comp2v-button2 {
  width: 100%;
  height: 57px;
  max-width: 294px;
  min-width: 20px;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}
