/* eslint-disable */
.banner-and-two-image-container {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  flex-direction: column;
  justify-content: flex-start;
}
.banner-and-two-image-image {
  width: 100%;
  border: 1px solid #666666;
  height: 146px;
  overflow: hidden;
  max-width: 896px;
  min-width: 20px;
  max-height: 100%;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 3px;
  justify-content: center;
  background-color: #d9d9d9;
}
.banner-and-two-image-container1 {
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 1041px;
  box-sizing: border-box;
  flex-basis: 0;
  align-items: center;
  padding-top: 5px;
  flex-direction: row;
  padding-bottom: 5px;
  justify-content: center;
}
.banner-and-two-image-image1 {
  width: 100%;
  border: 1px solid #666666;
  height: 309px;
  display: flex;
  overflow: hidden;
  max-width: 366px;
  min-width: 30px;
  box-sizing: border-box;
  max-height: 100%;
  align-items: center;
  padding-top: 5px;
  border-radius: 3px;
  flex-direction: row;
  padding-bottom: 5px;
  justify-content: center;
  background-color: #d9d9d9;
}
.banner-and-two-image-paragraph {
  width: 100%;
  border: 1px dashed rgb(187, 187, 187);
  height: 44px;
  overflow: hidden;
  font-size: 0.8em;
  max-width: 164px;
  min-width: 20px;
  margin-top: 15px;
  align-items: left;
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 3px;
  border-radius: 5px;
  margin-bottom: 15px;
  background-color: #FFFFFF00;
  -webkit-user-drag: none;
}
.banner-and-two-image-image2 {
  width: 100%;
  border: 1px solid #666666;
  height: 299px;
  overflow: hidden;
  max-width: 406px;
  min-width: 20px;
  max-height: 100%;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 3px;
  justify-content: center;
  background-color: #d9d9d9;
}
